<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>request demo</title>

    <script type="text/javascript" src="../lib/jquery/jquery-3.0.0.min.js"></script>
</head>
<body>
    <div id="word">
        <input id="english" type="text">
        <div id="chinese"></div>
        <button id="submit" onclick="a()">ok</button>
    </div>
    <div id="random">
        <button id="getRand" onclick="getRand()">获取随机单词</button>
        <div>
            <p id="ran_word"></p>
            <p id="ran_trans"></p>
        </div>
    </div>


    <script type="text/javascript" src="../js/hello.js"></script>
</body>
</html>